#main {
    width: 644px;
}

#display {
    background-color: #000;
    border: none;
    width: 644px;
    height: 400px;
    margin-bottom: 0;
}

#controlDeck {
    margin-top: 0;
    background-color: #555;
}


#buttonNavigation {
    float: left;
}

#regionInput {
    display: inline-block;
    transform: translateX(50%);
}

#textNavigation {
    float: right;
}

#channelInput,
#subchannelInput {
    appearance: textfield;
    width: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#controlImage,
#subControlImage {
    display: none;
}

:root {
    background-color: #ccc;
}